.box{
    border: 7px solid #444444;
    padding: 6px;
    margin: 4px;
    display: inline-block;
    border-radius: 16px;
    width: 340px;
    margin-left: 27px;
    margin-bottom: 16px;
}
.element_container{
    border-radius: 6px;
    padding: 10px;
}
.for_p_tag{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}
.for_text_area{
    text-align: justify;
    border-bottom: 1px solid gray;
}
.button_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background: lavender;
    border-radius: 7px;
    border: 1px solid blueviolet;
}
.button_container button{
    border-radius: 6px;
    border: 0;
    outline: 0;
    font-size: 18px;
    background-color: blueviolet;
    color: white;
    padding: 4px 18px;
    box-shadow: 1px 1px 8px 3px gray;
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    margin: 10px 30px 30px 30px;
    padding: 20px;
    /* border: 2px solid black; */
}
.notes_form{
    border: 1px solid darkgreen;
    width: 30%;
    padding: 14px;
    border-radius: 20px;
}
.textArea{
    width: 100%;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px;
}
.buttonStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonStyle button{
    width: 50%;
    font-size: 20px;
}