{% include 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'CSS/notes.css' %}">

<!-- form section -->
<div class="form_container">
    <form method='post' action="#" class="notes_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control" id="subject" aria-describedby="subject">
        </div>
        <div class="mb-3">
            <label for="topic" class="form-label">Topic</label>
            <input type="text" name="topic" class="form-control" id="topic" aria-describedby="topic">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" name="date" class="form-control" id="date" aria-describedby="date">
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Description</label>
            <textarea name="description" id="note" class="textArea"></textarea>
        </div>
        <div class="buttonStyle">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
 </div>

<!-- card section -->
{% for value in notesdict %}
    <div class="box">
        <div class="element_container">
            <p class="for_p_tag"><b>Subject:</b> <strong>{{value.subject}}</strong></p>
            <p class="for_p_tag"><b>Topic:</b> <span>{{value.topic}}</span></p>
            <p class="for_p_tag"><b>Date:</b> <span>{{value.date}}</span></p>
            <p class="for_text_area"><b>Description:</b> <span>{{value.description}}</span></p>
            <div class="button_container">
                <button><a style="text-decoration: none; color: white" href="/add/updateNotes/{{value.id}}">Update</a></button>
                <button><a style="text-decoration: none; color: white" href="/add/deleteNotes/{{value.id}}">Delete</a></button>
            </div>
            <hr>
            <span>{{value.id}}</span>
            <span>{{user}}</span>
        </div>
    </div>
{% endfor %}



<script src="{% static 'JS/notes.js' %}"></script>
{% endblock %}